# Visual Studio Local Files
.vs/
*.user

# Build Output
/dist
/Debug/amd64
/Debug/arm
/Debug/arm64
/Debug/x86
/Release/amd64
/Release/arm
/Release/arm64
/Release/x86

# Static Driver Verifier Output
/sdv
/smvbuild.log
/smvstats.txt

# Driver Verification Log
/wintun.DVL.XML

# Temporary files
*~
