# Visual Studio Local Files
.vs/
*.user

# Build Output
/dist
/Debug
/Release

# Static Driver Verifier Output
/sdv
/smvbuild.log
/smvstats.txt

# Driver Verification Log
/wintun.DVL.XML

# Temporary files
*~
