<?xml version="1.0" encoding="UTF-8"?>
<!--
	SPDX-License-Identifier: GPL-2.0

	Copyright (C) 2018-2019 WireGuard LLC. All Rights Reserved.
-->
<Wix
	xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:diffx="http://schemas.microsoft.com/wix/DifxAppExtension"
	xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Module Id="wintun" Language="1033" Version="$(var.WINTUN_VERSION_MAJ).$(var.WINTUN_VERSION_MIN).$(var.WINTUN_VERSION_REV).$(var.WINTUN_VERSION_BUILD)">
		<Package
			Id="c28309d9-1954-4f2d-a7d1-228850092460"
			Description="Wintun Userspace Tunnel"
			Manufacturer="WireGuard LLC"
			InstallerVersion="200" />

		<Binary Id="wintun.cer" SourceFile="!(bindpath.output_dir)wintun.cer"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<Component Id="wintun.cat" Guid="41fbe711-a1af-4b83-8b5d-fc1b112969c1">
					<File Id="wintun.cat" Name="wintun.cat" Source="!(bindpath.output_dir)wintun\wintun.cat"/>
					<iis:Certificate
						Id="wintun.cer"
						Name="WireGuard LLC"
						StoreLocation="localMachine"
						StoreName="trustedPublisher"
						BinaryKey="wintun.cer"
						Request="no"/>
					<diffx:Driver
						AddRemovePrograms="no"
						PlugAndPlayPrompt="no"/>
				</Component>
				<Component Id="wintun.inf" Guid="c58122b3-c7ba-4207-b68d-a236e371f9ed">
					<File Id="wintun.inf" Name="wintun.inf" Source="!(bindpath.output_dir)wintun\wintun.inf"/>
				</Component>
				<Component Id="wintun.sys" Guid="d0fde4a4-d228-4803-b57e-76bd8b16cf42">
					<File Id="wintun.sys" Name="wintun.sys" Source="!(bindpath.output_dir)wintun\wintun.sys"/>
				</Component>
			</Directory>
		</Directory>
	</Module>
</Wix>
